@use '../../assets/scss/_variables.scss' as *;
@use '../../assets/scss/_mixin.scss' as *;

.product-list {
    width: 100%;
  }
  
  .product-list__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-sm;
  }
  
  .product-list__item {
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
  }
  
  .product-list__item:hover {
    transform: scale(1.02);
  }
  
  .product-list__image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: $spacing-xs;
  }
  
  .product-list__title {
    margin: $spacing-xs 0;
    font-size: $font-size-base;
    color: $color-text;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    padding: $spacing-sm;
  }
  
  .product-list__description {
    font-size: $font-size-sm;
    color: #666;
    margin-bottom: $spacing-xs;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-text;
    line-height: 18px;
    padding: 1.5rem $spacing-sm 0 $spacing-sm;
  }
  
  .product-list__price {
    font-size: $spacing-sm;
    color: $color-primary;
    font-weight: 600;
  }
  
  .product-list__category {
    text-transform: capitalize;
  }
  
  .product-list__availability span {
    color: $color-primary;
  }
  
  .product-list__icon:hover svg {
    filter: opacity(0.5);
    cursor: pointer;
    fill: $color-blue-light;
  }
  
  .product-list__icon-select {
    fill: $color-blue-light;
  }
  
  .product-list__search {
    display: none;
  }
  
  .product-list__sort-container {
    display: none;
  }
  
  .product-list__result-count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-md;
  }
  
  .mobile-filter {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: $spacing-md;
  }
  
  .mobile-filter__results,
  .mobile-filter__sort {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mobile-filter__results-text,
  .mobile-filter__sort-text {
    margin-left: $spacing-xs;
  }
  
  .product-list__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-xs;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    margin-top: $spacing-md;
  }
  
  .product-list__available {
    flex-direction: column;
    background-color: #eee;
    margin-top: 1rem;
    padding: 10px;
  }
  
  @media (min-width: 48rem) {
    .product-list__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $spacing-sm;
      flex-direction: row-reverse;
    }
  
    .product-list__result-count {
      font-size: $font-size-base;
      color: $color-text;
      margin-bottom: 0;
    }
  
    .product-list__search {
      display: block;
      background-color: $color-white;
      color: #333;
      cursor: pointer;
      position: relative;
      z-index: 1;
      border-radius: 8px;
      border: 2px solid $color-border-light;
      padding: $spacing-xs;
      font-size: $font-size-sm;
    }
  
    .product-list__sort-container {
      display: flex;
      align-items: center;
      padding: $spacing-sm;
    }
  
    .product-list__search {
      width: 135px;
    }
    .product-list__sort {
      appearance: none;
      width: 100%;
      padding: 10px 15px;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: $color-white;
      color: #333;
      cursor: pointer;
      position: relative;
      z-index: 1;
      border-radius: 8px;
      border: 2px solid $color-border-light;
      padding: $spacing-xs;
      font-size: $font-size-sm;
    }
  
    .product-list__select-wrapper::after {
      content: "";
      font-size: 0.8em;
      color: #333;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      pointer-events: none;
      z-index: 2;
      /* background-image: url("../../images/down-arrow.svg"); */
      width: 12px;
      height: 12px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .product-list__sort:hover,
    .product-list__sort:focus {
      border-color: #007bff;
      outline: none;
    }
  
    .product-list__sort option {
      color: #333;
    }
  
  /*   .product-list {
      width: 65%;
    } */
  
    .product-list__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .mobile-filter {
      display: none;
    }
  
    .product-list__title {
      height: 60px;
    }
    .product-list__available {
      flex-direction: row;
    }
  }
  
  @media (min-width: 64rem) {
   /*  .product-list {
      width: 75%;
    } */
  
    .product-list__select-wrapper {
      position: relative;
      width: 200px;
    }
  
    .product-list__search {
      width: auto;
    }
    .product-list__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .product-list__image {
      height: 280px;
    }
  
    .product-list__title {
      font-size: $font-size-lg;
    }
  }
  
  @media (min-width: 80rem) {
    .product-list__grid {
      gap: $spacing-md;
    }
  }
  