
@use '../../../assets/scss/_variables.scss' as *;
@use '../../../assets/scss/_mixin.scss' as *;

.header {
    background: $color-primary;
    color: $color-white;
    padding: $spacing-sm $spacing-md;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s; 
  }
  
  .header--hidden {
    top: -100px;
  }

  .header__container {
    padding: 0;
  }
  
  
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    letter-spacing: 3px;
    color: $color-white;
    font-size: $font-size-base;
  }
  
  .header__logo-image {
    max-width: 100px;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .header__menu-button,
  .header__menu-button::before,
  .header__menu-button::after {
    background-color: $color-white;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .header__menu-button::before {
    content: "";
    margin-top: -8px;
  }
  
  .header__menu-button::after {
    content: "";
    margin-top: 8px;
  }
  
  .header__list {
    display: none;
  }
  
  .header__item {
    margin: 0 $spacing-xs;
  }
  
  .header__link {
    color: $color-white;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.3s;
  }
  
  .header__link:hover,
  .header__link--active {
    border-bottom: 4px solid $color-white;
  }
  
  .header__cart {
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .header__cart-count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-blue-dark;
    font-size: $font-size-xsm;
    position: absolute;
    right: -5px;
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media (min-width: 48rem) {
    .header__logo {
      font-size: $font-size-lg;
    }
  
    .header__logo-image {
      max-width: 75px;
    }
  
    .header__list {
      display: flex;
    }
  
    .header__link {
      padding: 20px 0.6rem 13px 0.6rem;
      font-size: $font-size-base;
    }
  
    .header__menu-button-container {
      display: none;
    }
}